div {
    border: 1px solid green;
    padding: 1ex;
    margin: 0;
    align-content: center;
    text-align: center;
}

body { margin: 0; padding: 0; }

#pages {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding:  0;
    border:  0;
    display: flex;
    flex-direction: column;
}

#pages div {
    flex: 1;
}
#page2 {
    display: none;
}

#cookie {
    width: 75%;
    margin: auto;
}

#footer {
    height: unset;
}
* {
    font-size: 24px;
    font-family: sans-serif;
}

h1 {
    font-size: 52px;
    text-align: center;
}

button {
    width: 75%;
    margin: auto;
    display: block;
    /* vertical-align: bottom; */
}

img { display: block; }

